extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Joe Bertino

        p Full Stack JavaScript Developer


        .about-bio

          p Versatile and quick-learning Computer Scientist. Newly experienced with Full-Stack JavaScript. 6+ years of development in Python and C. 


      .skills-contact-box.box
        h6 Skills

        ul
          li Python
          li C / C++
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li HTML 
          li CSS

        h6 Contact Info

        ul
          li (917) 584-1700
          li joseph.bertino@gmail.com

        a.btn-link(href='https://github.com/josephbertino') GitHub
        a.btn-link(href='https://instagram.com/joe___be') Instagram
        a.btn-link(href='https://soundcloud.com/yetixhunting') SoundCloud

    nav.nav
      a(href='/')
        span &larr;
        |  Back