extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Joe Bertino

        p Full Stack JavaScript Developer


        .about-bio

          ul
            li Versatile and quick-learning Computer Scientist. Newly experienced with Full-Stack JavaScript. 7+ years of development in Python and C.
            li Avid reader. At the moment I am reading
							 i  Zen and the Art of Motorcycle Maintenance.
            li Huge Seinfeld fan! In 30 years I'm going to be one of those eccentric collectors who owns a themed pinball machine, tin lunchbox, and bobbleheads of the entire cast.
            li Budding collage artist currently looking to get my work promoted by a local art gallery in Albuquerque, NM.


      .skills-contact-box.box
        h6 Skills

        ul
          li Python
          li C
          li C++
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li HTML
          li CSS

        h6 Contact Info

        ul
          li (917) 584-1700
          li joseph.bertino@gmail.com

        a.btn-link(href='https://github.com/josephbertino', target='_blank') GitHub
        a.btn-link(href='https://instagram.com/joe___be', target='_blank') Instagram
        a.btn-link(href='https://soundcloud.com/yetixhunting', target='_blank') SoundCloud

    nav.nav
      a(href='/')
        span &larr;
        |  Back
