.errStack {
  background-color: #fafafa;
  border:3px;
  border-style:solid;
  border-color:coral;
  padding: .5em;
  height: 350px;
  overflow: scroll;
}

.errStack pre {
  font-size: 1em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  margin-top: 0;
}
